@{
    ViewData["Title"] = "Bienvenido";
    ViewData["PageName"] = "aspnetcore_welcome";
    ViewData["Heading"] = "<i class='fal fa-graduation-cap'></i> Bienvenido: <span class='fw-300'>Aplicación para gestión y consulta de credenciales ECAR</span>";
}

<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2>
                    Introduccion a la aplicación
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="alert alert-success">
        </div>
    </div>
</div>