@model ECARTemplate.Models.UsuarioTI

@{
    ViewData["Title"] = "Editar Usuario TI";
}

<h1>Editar Usuario TI</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /> <div class="form-group">
                <label asp-for="CodigoUsuarioTi" class="control-label"></label>
                <input asp-for="CodigoUsuarioTi" class="form-control" />
                <span asp-validation-for="CodigoUsuarioTi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolTi" class="control-label"></label>
                <input asp-for="RolTi" class="form-control" />
                <span asp-validation-for="RolTi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuarioTi" class="control-label"></label>
                <input asp-for="NombreUsuarioTi" class="form-control" />
                <span asp-validation-for="NombreUsuarioTi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioTi" class="control-label"></label>
                <input asp-for="UsuarioTi" class="form-control" />
                <span asp-validation-for="UsuarioTi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContrasenaUsuarioTi" class="control-label"></label>
                <input asp-for="ContrasenaUsuarioTi" class="form-control" />
                <span asp-validation-for="ContrasenaUsuarioTi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section ScriptsBlock {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}