
@if (Settings.Features.AppSidebar)  
{  
<aside class="page-sidebar">  
<partial name="_Logo"/>  
<nav id="js-primary-nav" class="primary-nav" role="navigation">  
	  
	<vc:navigation />  
	
</nav>  
 
</aside>  
}  
