@model ECARTemplate.Models.Credencial

@{
    ViewData["Title"] = "Crear Credencial";
}

<h1>Crear Credencial</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <h4>Credencial</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoEquipo" class="control-label"></label>
                <input asp-for="CodigoEquipo" class="form-control" />
                <span asp-validation-for="CodigoEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoUsuarioEcar" class="control-label"></label>
                <input asp-for="CodigoUsuarioEcar" class="form-control" />
                <span asp-validation-for="CodigoUsuarioEcar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <input asp-for="Perfil" class="form-control" />
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" value="Activo" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la Lista</a>
</div>

@section ScriptsBlock {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}